<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            {{ title }}
        </div>

        <ul class="nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                    <div class="text">Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users" routerLinkActive="active">
                    <div class="text">Users</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/add-user" routerLinkActive="active">
                    <div class="text">Add New User</div>
                </a>
            </li>
        </ul>
    </div>
</nav>