@import "~bootstrap/scss/bootstrap";

:host {
    .wrp-form-add-user {
        display: flex;
        justify-content: center;

        form {
            width: 40vw;
            border: $border-width solid $border-color;
            padding: $spacer;
        }

        .wrp-cover {
            position: relative;
            height: 200px;
            width: 100%;
            overflow: hidden;
            background-color: #ddd;
            display: flex;
            align-items: center;

            img {
                width: inherit;
                margin: auto 0;
            }

            .btn-add {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .wrp-profile {
            position: relative;
            margin: 0 auto;
            width: fit-content;

            .btn-add {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .inline-form-elements {
            display: flex;
            flex-wrap: wrap;

            .form-group {
                &.col-6 {
                    &:nth-child(2n) {
                        padding-left: map-get($map: $spacers, $key: 1);
                    }
                    &:nth-child(2n -1) {
                        padding-right: map-get($map: $spacers, $key: 1);
                    }
                }
            }
        }

        .looking-for-options {
            .option {
                transition: all ease-out 200ms;
                border-radius: $border-radius;
                border: $border-width solid $border-color;

                &.selected {
                    background-color: $indigo;
                    color: white;
                }
            }
        }
    }
}
