/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// #region | Forms |
.form-group {
    margin-bottom: $hr-margin-y;
}
// #endregion

// #region | Lists |
.list {
    .item {
        display: flex;
        margin-bottom: $hr-margin-y;
    }
}
// #endregion