/* You can add global styles to this file, and also import other style files */
$color-link: #2b68a0;
$primary: $color-link;
$header-height: 48px;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/styles.scss";
