.icon-more {
    font-size: 1.4rem;
}

.color-gray {
    color: $gray-600;
}

.color-dark-gray {
    color: $gray-800;
}

// #region | Forms |
.form-group {
    margin-bottom: $hr-margin-y;
}
// #endregion

// #region | Lists |
.list {
    .item {
        display: flex;
        margin-bottom: $hr-margin-y;
    }
}
// #endregion

// #region | Common |
img[src=""] {
    display: none;
}
// #endregion

// #region | Icons |
.icon-circle-small {
    font-size: 6px;
}
// #endregion

// #region | Colors |
.color-gray {
    color: map-get($map: $grays, $key: 600);
}
// #endregion

// #region | Anchors |
a {
    color: $color-link;
    text-decoration: unset;
}
// #endregion

// #region |  |
// #endregion