@import "/src/styles.scss";

:host {
    


    .user-detail {
        width: 60vw;

        .wrp-cover {
            height: 200px;
            display: flex;
            align-items: center;
            overflow: hidden;
            width: inherit;

            img {
                width: 100%;
            }
        }

        .profile-item {
            margin-bottom: map-get($map: $spacers, $key: 2);

            &.icon-start {
                fa-icon {
                    position: absolute;
                    color: $gray-600;
                }
            }

            .text {
                margin-left: calc(map-get($map: $spacers, $key: 3) * 2);
            }
        }
    }
}
